name: Autorelease

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  workflow_dispatch:
    inputs:
      new_version:
        description: 'New tag version'
        default: 'patch'
        type: choice
        options:
        - patch
        - minor
        - major

jobs:
  autorelease:
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      USERNAME: ${{ github.actor }}
    steps:
    - uses: actions/checkout@v4

    - name: Setup git config
      run: |
        git config user.name actions-bot
        git config user.email actions-bot@users.noreply.github.com

    - uses: jdx/mise-action@v2

    - name: Install
      run: mise run install

    - name: Codegen
      run: mise run codegen

    - name: Create Pull Request if there is new stuff from updaters
      if: github.event_name != 'pull_request'
      uses: peter-evans/create-pull-request@v7
      id: pr_create
      with:
        commit-message: Updater script changes
        branch: updater-bot
        delete-branch: true
        title: "Updater: stuff changed"
        body: |
          Changes caused from update scripts

    - name: Stop if a pull request was created
      if: github.event_name != 'pull_request'
      env:
        PR_NUMBER: ${{ steps.pr_create.outputs.pull-request-number }}
      run: |
        if [[ ! -z "$PR_NUMBER" ]]; then
          echo "The update scripts changed something and a PR was created. Giving up deploy." >> $GITHUB_STEP_SUMMARY
          exit 1
        fi

    - name: CI
      run: mise run ci

    - name: Bump version
      if: github.event_name == 'workflow_dispatch' && github.event.inputs.new_version != ''
      env:
        NEW_VERSION: ${{ github.event.inputs.new_version }}
      run: |
        NO_TAG=1 ./make_release "$NEW_VERSION"
        echo "New version: $(cat version.txt)" >> $GITHUB_STEP_SUMMARY
        echo "RELEASE_VERSION=$(cat version.txt)" >> $GITHUB_ENV

    - name: Build binaries
      if: (github.event_name == 'workflow_dispatch' && env.RELEASE_VERSION != '') || startsWith(github.ref, 'refs/tags/')
      run: mise run build-all

    - name: Create release
      if: (github.event_name == 'workflow_dispatch' && env.RELEASE_VERSION != '') || startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TAG: ${{ env.RELEASE_VERSION }}
      run: |
        if [ -z "$TAG" ]; then
          TAG=${GITHUB_REF#refs/tags/}
        fi
        gh release create "$TAG" \
          --title "Release $TAG" \
          --generate-notes \
          build/*

    - name: Login to registry
      if: (github.event_name == 'workflow_dispatch' && env.RELEASE_VERSION != '') || startsWith(github.ref, 'refs/tags/')
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ env.USERNAME }}
        password: ${{ github.token }}

    - name: Build and publish container
      if: (github.event_name == 'workflow_dispatch' && env.RELEASE_VERSION != '') || startsWith(github.ref, 'refs/tags/')
      env:
        TAG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      run: |
        VERSION="${{ env.RELEASE_VERSION }}"
        if [ -z "$VERSION" ]; then
          VERSION=${GITHUB_REF#refs/tags/}
        fi
        docker build -t "$TAG:latest" .
        docker tag  "$TAG:latest" "$TAG:$VERSION"
        docker push "$TAG:$VERSION"
        docker push "$TAG:latest"
